<div class="containter">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.alpha-blog-tester7.com">First Ruby App</a>
            by <a href="https://www.aplha-blog-testr7.com/">Danny Chung</a>
            
        </small>
        <nav>
            <ul>
            <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>
